<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@customer.latitude}%2C#{@customer.longitude}" %>
</p>

<h3> How far from DIT: </h3>
<%= @customer.distance_to("DIT Aungier St Dublin")%>

<h3> Nearby Customers: </h3>

<ul>
<% @customer.nearbys(20).each do |near_user| %>
	<li><%= link_to near_user.address, near_user %> (<%= near_user.distance.round(2) %> miles) </li>
	<% end %>
</ul>	

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>