<p id="notice"><%= notice %></p>

<%= image_tag(@book.image, :size => "200x200") %>
  
<p>
  <b>Book ID:</b>
  <%= @book.book_id %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_euro(@book.price) %>
</p>

<p>
  <b>Category:</b>
  <%= @book.category %>
</p>

<p>
  <b>Quantity:</b>
  <%= @book.quantity %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<br>
<br>

<h3>Please leave a comment about this book:</h3>
	<%= form_for([@book, Comment.new]) do |f| %>
  		<%= f.text_area :content, :rows => 3 %>
		<br>
		<br>
		Rate this book out of 5: <%= f.select :rating, ["1", "2", "3", "4", "5"] %>
		<br>
		<br>
		<div class="actions">
			<%= f.submit "Post Comment" %>
		</div>
	<% end %>
	
	<br>
	<% if @book.comments.empty? %>
    <h3>You are the first to comment about this book. </h3>
	
<% else %>
 <h3>What others said about this book:</h3>
 
  <% @book.comments.reverse.each do |comment| %>
  <div class="box">
	<p><b><%= comment.content %></b><br>
        (Commented: <%= time_ago_in_words(comment.created_at) %> ago by 		
		<%= comment.customer.name %>)</p>
		Rated this book: <b><%= comment.rating %>/5</b>
		</div>
		<br>
   <% end %>
   <br>
<% end %>