<p id="notice"><%= notice %></p>

<%= image_tag(@book.image, :size => "200x200") %>
  
<p>
  <b>Book ID:</b>
  <%= @book.book_id %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_euro(@book.price) %>
</p>

<p>
  <b>Category:</b>
  <%= @book.category %>
</p>

<p>
  <b>Quantity:</b>
  <%= @book.quantity %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
