<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>

<div id="search">
	<%= render :partial => 'books/search_by_title' %>
</div>
<br>
<div id="search">
	<%= render :partial => 'books/search_by_author' %>
</div>
<br>
<div id="search">
	<%= render :partial => 'books/search_by_category' %>
</div>

<div align="center">
<%= image_tag("bookstore.jpg", :size => "250x220") %>
</div>

<h2><%= link_to "Home", pages_home_path, :method => :get %></h2>
<h2><%= link_to "Buy Books", shop_index_path, :method => :get %></h2>
<h2><%= link_to "View Books", books_path, :method => :get %></h2>
<h2><%= link_to "Customers", customers_path, :method => :get %></h2>

<div id="nav">
<ul>
<li><%= button_to "Register", new_customer_path, :method => :get %></li>
	<% if !signed_in? %>
			<li><%= button_to "Sign In", signin_path, :method => :get %></li>
	<% else %>
			<li><%= button_to "Show Orders", customer_orders_path, :method => :get %></li>
			<li>Signed in as <b><%= @current_customer.name %></b></li>
				<div class="profile_link">
					<br>
					<br>
					<li><%= link_to "My Profile", @current_customer %></li>
				
			<li><%= button_to "Sign Out", signout_path, :method => :get %></li>
	<% end %>
</ul>	
</div>

  <div id="columns">
    <div id="side">
      <div id="cart">
	  <% if @cart %>
        		<%= render @cart %>
	<% end %>
      </div>      
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>